doctype 5
html
  head
    meta(name='twitter:card', content='photo')
    meta(name='twitter:site', content='@rlph')
    meta(name='twitter:creator', content='@rlph')
    meta(name='twitter:title', content='Screen Grab ' + time)
    meta(name='twitter:image:src', content='http://grabs.ralphholzmann.com/#{id}-card.png')
    meta(name='twitter:domain', content='grabs.ralphholzmann.com')
    title Screen Grab #{time}
  body
    img(src="/#{id}.png")
    block content
